:root {
  // Colors
  --main-white: #ffffff;
  --main-black: #000000;
  --main-color-gray: #808080;
  --main-color-gray-2: #5f5e5e;
  --main-color-blue-1: #164863;
  --main-color-blue-2: #427d9d;
  --main-color-blue-3: #9bbec8;
  --main-color-blue-4: #c0e5f4;
  --main-color-blue-5: #f0f9fe;
  --main-color-blue-6: #ddf2fd;
  --main-color-green-1: #0ab99d;
  --main-color-green-2: #50cdb9;
  --main-color-green-3: #96e1d5;
  --main-color-green-4: #62d2c0;
  --main-color-green-6: #cbf0ea;
  --main-color-green-5: #dcf5f1;
  --main-color-yellow: #fdc963;

  /* font family */
  --font-family-nav: "Rubik"; // nav text
  --font-family-text2: "Rubik Doodle Shadow";
  --font-family-text3: "Kanit"; // Title slider
  --font-family-text4: "Lobster"; //text, Paragraph

  /* padding variables */
  --xxl-padding: 0px 200px;
  --xl-padding: 50px 100px;
  --md-padding: 50px 50px;
  --sm-padding: 50px 35px;
}
