@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,900;1,600&family=Lobster&family=Rubik+Doodle+Shadow&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

//family
$font-family-nav: "Rubik"; // nav text
$font-family-text2: "Rubik Doodle Shadow";
$font-family-text3: "Kanit"; // Title slider
$font-family-text4: "Lobster"; //text, Paragraph

//sizes
$font-size-1: 16px;
$font-size-2: 20px;
$font-size-3: 36px;
$font-size-4: 40px;

// weight
$font-weight-1: 300;
$font-weight-2: 600;
$font-weight-3: 900;
