/* ********************** */

//Border
$default-border-radius: 10px;

//Padding
$default-padding: 100px;

// Margin
$default-margin: 0;

$md-margin-nav: 10px 50px;
$sm-margin-nav: 10px 10px;

$xxl-margin: 50px 300px;
$xl-margin: 50px 100px;
$md-margin: 50px 50px;
$sm-margin: 50px 35px;

// Background
