.coming-son {
  height: 86vh;
  background-image: url(../../../public/images/coming.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .section-bg-opacity {
    background-color: #f0f9fedb;
  }
  .contents {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .logo {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .title {
      h1 {
        font-size: 52px;
        color: var(--main-color-green-1);
        font-weight: 900;
        font-family: var(--font-family-nav);
        text-align: center;
        @include forScreenSize(md) {
          font-size: 40px;
        }
      }
    }
    .countdown-timer {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        li {
          background-color: var(--main-color-blue-1);
          padding: 10px;
          width: 80px;
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          @include forScreenSize(md) {
            width: 70px;
            height: 70px;
          }
          .nbr {
            font-size: 48px;
            color: var(--main-color-green-1);
            font-weight: 600;
            display: block;
            letter-spacing: 0px;
            margin-top: -12px;
            margin-bottom: -10px;
            @include forScreenSize(md) {
              font-size: 40px;
            }
          }
          .txt {
            color: var(--main-color-green-5);
            font-size: 17px;
          }
        }
      }
    }
    .news-lettre {
      //   border: 1px solid red;
      grid-template-columns: 100%;
      padding: 0;
      gap: 20px;
      width: 100%;
      h3 {
        font-size: 20px;
        text-align: center;
      }
      .news-form {
        // width: 90%;
        form {
          padding: 5px;
          background-color: transparent;

          input {
            background-color: transparent;
          }
        }
      }
    }

    .social-network {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        li {
          a {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid var(--main-color-green-1);
            border-radius: 50%;
            color: var(--main-color-green-1);
            transition: all 0.3s ease;
            &:hover {
              border-color: var(--main-color-blue-1);
              color: var(--main-color-blue-1);
            }
            svg {
              font-size: 30px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
