.page-cours {
  .popular-courses {
    background: none;
    .cours-categories-section {
      display: grid;
      grid-template-columns: 24% 72%;
      justify-content: space-between;
      font-family: var(--font-family-nav);
      font-size: 14px;
      @include forScreenSize(lg) {
        grid-template-columns: 32% 64%;
      }
      @include forScreenSize(md) {
        grid-template-columns: 38% 58%;
      }
      @include forScreenSize(sm) {
        grid-template-columns: 100%;
      }
      .categories-section {
        padding-top: 30px;
        .part-bd {
          border: 0.5px solid var(--main-color-blue-4);
          padding: 10px;
          margin-bottom: 40px;
          h2 {
            color: var(--main-color-blue-1);
            position: relative;
            padding-bottom: 5px;
            &::after {
              content: "";
              width: 50px;
              position: absolute;
              border-bottom: 2px solid var(--main-color-green-1);
              left: 0;
              bottom: 0;
            }
          }
        }
        .search-part {
          form {
            margin-top: 20px;
            .form-control {
              border: solid 2px var(--main-color-green-3);
              display: flex;
              flex-direction: row;
              .form-control-input {
                width: 80%;
                padding: 10px 0 10px 10px;
                background: none;
                border: none;
                outline: none;
              }
              button {
                width: 20%;
                background: var(--main-color-green-3);
                border: none;
                cursor: pointer;
                svg {
                  color: var(--main-white);
                  font-size: 20px;
                }
              }
            }
          }
        }
        .price-part,
        .category-part {
          ul {
            list-style: none;
            padding: 10px 0;
            li {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
              border-bottom: 1px dotted var(--main-color-blue-1);
              label {
                color: var(--main-color-blue-1);
                display: flex;
                input[type="checkbox"] {
                  border: solid var(--main-color-green-3) 2px !important;
                  appearance: none;
                  width: 18px;
                  height: 18px;
                  cursor: pointer;
                  margin-right: 6px;
                  position: relative;
                  &:checked {
                    background: url(../../images/check_mark.png) 1px 2px
                      no-repeat var(--main-color-green-2);
                    color: white;
                  }
                }
              }
              span {
                background-color: var(--main-color-green-3);
                border-radius: 50%;
                padding: 3px;
                color: var(--main-color-blue-1);
                font-weight: 500;
              }
              &:last-child {
                border: none;
              }
            }
          }
        }
      }
      .cours-section {
        grid-template-columns: 48% 48%;
        @include forScreenSize(lg) {
          grid-template-columns: 100%;
        }
      }
    }
  }
}
