.sign-page {
  .signin-formulaire {
    padding: var(--xl-padding);
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: var(--font-family-nav);
    @include forScreenSize(full) {
      padding-left: 250px;
      padding-right: 250px;
    }
    .image-signin {
      background-image: url(../../../public/images/signin.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
    }
    .image-registration {
      background-image: url(../../../public/images/signup.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
    }
    .sign-form {
      background-color: var(--main-color-blue-5);
      padding: 50px 100px;
      .inpt-row {
        button {
          justify-content: center;
        }
      }
      .sign-up {
        text-align: center;
        margin-bottom: 30px;
      }
      .socials-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: var(--main-white);
        padding: 20px;
        color: var(--main-color-blue-1);
        margin-top: 30px;
        .socials-login-btn {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          gap: 15px;
          button {
            padding: 5px 10px;
            border-radius: 2px;
            border: none;
            color: white;
            transition: all 0.3s ease;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
            &:first-child {
              background-color: rgba(247, 58, 0, 0.8);
              &:hover {
                background-color: #f73b00;
              }
            }
            &:last-child {
              background-color: rgba(23, 114, 234, 0.8);
              &:hover {
                background-color: #1773ea;
              }
            }
            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
